{% extends "base.html" %}

{% block title %}
    
    Accueil - {{ block.super }}

{% endblock title %}


{% block content %}
  <!-- main Container -->  
  <div class="container">

    <section id="filters">
      <div class="input-group col-sm-12 margin-bottom margin-top">
        <input type="text" id="search" class="form-control" placeholder="Chercher pour titre, tags, catégories, etc...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="glyphicon glyphicon-search"></i>          
          </button>
        </span>
      </div><!-- /input-group -->

      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <h5 for="category">Les catégories recherchés 
            <!--<span class="btn btn-default btn-xs">Réinitialiser</span>-->
            </h5> 
            <select id="category" class="selectpicker form-control" multiple data-style="btn-primary" data-none-selected-text="Catégories">
              {% for category in category_list %}
              <option>{{ category.category_name }}</option>                
              {% endfor %}
            </select>
          </div> <!-- /.form-group -->            
        </div> <!-- /.col-md-6 -->

        <div class="col-md-6">
          <div class="form-group">
            <h5 for="number-of-data">Nombre de résultats désirés</h5>            
            <select id="result-num-displayed" class="form-control"   data-style="btn-success">
              <option value="10">10 résultats par page</option>
              <option value="20">20 résultats par page</option>
              <option value="50">50 résultats par page</option>
            </select>
          </div> <!-- /.form-group -->            
        </div> <!-- /.col-md-6 -->
      </div> <!-- /.row -->

    </section> <!-- /#filters -->


    <h2 class="text-center margin-bottom">
        <span id="total-result-num">15</span> résultats trouvés au total
    </h2>
    <section id="guides" >
    {% for guide in guide_list %}
      <article class="media">
        <div class="media-left media-middle">
          <a target="_blank" href="{{ guide.document.url }}">
            <img class="media-object" src="{{ guide.category.category_img.url }}" alt="">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><a target="_blank" href="{{ guide.document.url }}">{{ guide.guide_name }}</a></h4>
          {{ guide.description }}
          <div class="tags">
            {% for tag in guide.tag.all %}
            <span class="label {{ tag.color_class }}">{{ tag.tag }}</span>
            {% endfor %}
          </div>
        </div>
      </article>
      
    {% endfor %}
    </section> <!-- /#guides -->

    <nav id="navigation" aria-label="Page navigation">
      <div class="text-center">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav> <!--/ page nav -->

  </div> <!--/main container -->

  
{% endblock content %}
